.navigations{
    .col-12{
        padding: 0 ;
        .navigation{
            background-color: #005cb9 !important;
            height: 14vh !important;
            position: relative;
            transition: all .5s;

            ul{
                
                li{
                    margin-left: 1.4rem;
                    position: relative !important;

                    a{
                        transition: all .4s;
                        font-size: 16px;
                        padding-right: .7rem !important;
                        border-right: 2px solid white !important;

                        &:hover{
                            color: #ff9600 !important;
                            transition: all .4s;
                        }
                    }
                    .b-none{
                        border: none !important;
                    }
                    .dropDown{
                        background: #005cb9 !important;
                        z-index: 100000 !important;
                        
                        .navbar-nav{
                            position: absolute !important;
                            background: #005cb9 !important;
                            display: none;
                            
                            .nav-item{
                                a{
                                    border: none !important;
                                }
                                .dropDown-2{

                                    .navbar-nav-2{
                                        background: #005cb9;
                                        display: none;
                                        margin-left: 8.23rem !important;
                                        margin-top: -1rem;
                                    }
                                }

                                .dropDown-2{
                                    .navbar-nav-3{
                                        margin-top: -2rem !important;
                                        display: none;
                                        background: #005cb9;
                                    }
                                }
                                .dropDown-2{
                                    .navbar-nav-4{
                                        margin-left: 8.5rem !important;
                                        margin-top: -2.4rem !important;
                                        z-index: 11;
                                    }
                                }
                                &:hover > .dropDown-2 ul.navbar-nav-2{
                                    display: block;
                                    
                                }
                            }
                        }
                    }
                    &:hover > .dropDown ul{
                        display: block;
                        background: #005cb9;
                    }
                }
            }

        }
    }
}
.sticky{
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: all .5s;
    position: fixed !important;
}

@media only screen and (max-width: 56.25rem){
    .navigations{
        ul{
            background: #005cb9;
            
            li{
                .dropDown{
                    ul{
                        background: white !important;
                        color: #005cb9 !important;
                    }
                }
            }
        }
    }
}
